<div class="container">
  <div class="card p-2 mt-4">
    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
      <mat-form-field appearance="outline">
        <mat-label>Employee Id</mat-label>
        <input matInput placeholder="Employee Id" name="employeeId" [(ngModel)]="employee.employeeId" disabled/>
        <mat-icon matSuffix>key_vertical</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee Name</mat-label>
        <input matInput placeholder="Employee Name" name="employeeName" [(ngModel)]="employee.employeeName" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Conctact Number</mat-label>
        <input matInput placeholder="Placeholder" name="employeeContactNumber" [(ngModel)]="employee.employeeContactNumber"/>
        <mat-icon matSuffix>call</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Placeholder" name="employeeAddress" [(ngModel)]="employee.employeeAddress"/>
        <mat-icon matSuffix>apartment</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose your department</mat-label>
        <mat-select name="employeeDepartment" [(ngModel)]="employee.employeeDepartment">
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Network">Network</mat-option>
          <mat-option value="Repair">Repair</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <label>Gender</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button (click)="selectGender('Male')" value="Male">Male</mat-radio-button>
          <mat-radio-button (click)="selectGender('Female')" value="Female">Female</mat-radio-button>
          <mat-radio-button (click)="selectGender('Other')" value="Other">Other</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline" class="mt-2">
        <mat-label>Employee Skill</mat-label>
        <input matInput placeholder="Employee Skill" name="employeeSkills" [(ngModel)]="employee.employeeSkills" disabled/>
        <mat-icon matSuffix>menu_book</mat-icon>
      </mat-form-field>

      <div>
        <label>Skills</label>
        <section class="example-section">
          <mat-checkbox (change)="onSkillsChanges($event)" value="Java" class="example-margin">Java</mat-checkbox>
          <mat-checkbox (change)="onSkillsChanges($event)" value="Angular" class="example-margin">Angular</mat-checkbox>
          <mat-checkbox (change)="onSkillsChanges($event)" value="Reacct" class="example-margin">React</mat-checkbox>
          <mat-checkbox (change)="onSkillsChanges($event)" value="Python" class="example-margin">Python</mat-checkbox>
        </section>
      </div>

      <mat-divider></mat-divider>

      <div class="text-center mt-3">
        <button mat-raised-button class="m-2">Clear</button>
        <button mat-raised-button color="primary" class="m-2">Save</button>
      </div>
    </form>
  </div>
</div>
