<div class="container mt-1">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="1">
        <mat-grid-tile>
            <img src="./simple crud operations.png" style="cursor: pointer;" alt="" srcset="" routerLink="/employee">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="./coming soon.png" alt="" srcset="">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="./coming soon.png" alt="" srcset="">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="./coming soon.png" alt="" srcset="">
        </mat-grid-tile>
      </mat-grid-list>
</div>